/* 2. Orders Page*/

.woocommerce .account-orders-table tr {
    background-color: #FAFAFA;
}

.woocommerce .account-orders-table tr:nth-child(even) {
    background-color: #fdfdfd;
}

.woocommerce .account-orders-table td {
    padding: 15px;
    vertical-align: middle;
    text-align: left;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.woocommerce .account-orders-table td:last-child {
    text-align: center;

}

/* 5.Payment Methods Page*/


.woocommerce .account-payment-methods-table {
    margin-bottom: 1rem;
}

.woocommerce .account-payment-methods-table thead {
    background-color: #00d1b2
}

.woocommerce .account-payment-methods-table td {
    padding: 15px;
    vertical-align: middle;
    text-align: left;
    border-right: 2px solid white;
    background-color: #FAFAFA;
}