/****************WC Layout Styles************************************/

.woocommerce-cart.full-width-content .content,
.woocommerce-checkout.full-width-content .content {
  max-width: 100%;
}

.woocommerce-cart .woocommerce table.shop_table td.actions {
  border-top: 1px solid #e6e6e6;
  background: #fafafa;
  border-bottom: 1px solid #e6e6e6;
}

.woocommerce-cart .entry-content form {
  width: 60%;
  float: left;
}

.woocommerce-cart .woocommerce .cart-collaterals {
  width: 33%;
  float: right;
}

.woocommerce-cart .woocommerce .cart-collaterals h2 {
  display: none;
}

.woocommerce-cart .woocommerce .cart-collaterals .cart_totals {
  width: 100%;
}

#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr th,
#add_payment_method table.cart th,
.woocommerce-cart table.cart th,
.woocommerce-checkout table.cart th,
.woocommerce-checkout table.shop_table th {
  color: black;
}

#add_payment_method .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
#add_payment_method table.cart td,
.woocommerce-cart table.cart td,
.woocommerce-checkout table.cart td,
.woocommerce-checkout table.shop_table td {
  color: #555;
}

.woocommerce-cart .woocommerce table.shop_table,
.woocommerce-checkout .woocommerce table.shop_table {
  border: 1px solid #e6e6e6;
  margin: 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 0;
  border-bottom: none;
  border-right: none;
  margin-bottom: 35px;
}

#add_payment_method #payment ul.payment_methods li input,
.woocommerce-cart #payment ul.payment_methods li input,
.woocommerce-checkout #payment ul.payment_methods li input {
  width: auto;
  margin: -2px 0.5em 0 0;
}

.woocommerce form .form-row .input-checkbox {
  width: auto;
  margin: -2px 5px 0 0;
}

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th,
.woocommerce table.shop_table th {
  border-top: none;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  text-align: left;
  padding: 10px 20px;
}

#add_payment_method table.cart td,
#add_payment_method table.cart th,
.woocommerce-cart table.cart td,
.woocommerce-cart table.cart th,
.woocommerce-checkout table.cart td,
.woocommerce-checkout table.cart th {
  border-right: 1px solid #e6e6e6;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
  border-bottom: 1px solid #e6e6e6;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background: #00d1b2 !important;
  font-weight: 500;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2) !important;
}

.woocommerce .cart .button,
.woocommerce .cart input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background: #00d1b2;
  color: #fff;
  font-weight: 500;
 height: 3rem;
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  float: right;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25em;
  /* padding: 1em; */
  border-radius: 40px;
  margin-top: 1.75rem;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  width: 49%;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
  background: #ccc;
}

.woocommerce a.checkout-button.button.alt {
  border-radius: 0;
  padding: 1.25rem;
  width: 100%;
}

.woocommerce #content table.cart td.actions .coupon,
.woocommerce table.cart td.actions .coupon {
  width: 38%;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
  padding: 8px 6px 7px;
  width: 65%;
}

/* .woocommerce table.shop_table td {
  padding: 15px;
  vertical-align: middle;
  text-align: center;
} */

.woocommerce-checkout table.shop_table td {
  text-align: left;
  border-right: 1px solid #e6e6e6;
  border-top: 0;
  border-bottom: 1px solid #e6e6e6;
}

.woocommerce a.remove {
  margin: 0 auto;
}

.woocommerce-cart .woocommerce table.shop_table th.product-remove,
.woocommerce-cart .woocommerce table.shop_table th.product-name {
  text-align: center;
}

.woocommerce-cart .woocommerce table.shop_table th.product-price,
.woocommerce-cart .woocommerce table.shop_table th.product-quantity,
.woocommerce-cart .woocommerce table.shop_table th.product-subtotal {
  text-align: center;
}

.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-price,
.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-quantity,
.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-subtotal {
  text-align: center;
}

.woocommerce-checkout #add_payment_method #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
  list-style: none;
}

.woocommerce-checkout .woocommerce .col2-set {
  width: 47.8260869565%;
  float: left;
  margin-right: 4.347826087%;
}

.woocommerce-checkout .woocommerce .col2-set .col-1,
.woocommerce-checkout .woocommerce .col2-set .col-2 {
  margin-bottom: 2em;
  width: 100%;
  float: none;
}

.woocommerce-checkout #order_review_heading,
.woocommerce-checkout #order_review {
  background: #fff;
  width: 47.8260869565%;
  float: right;
  margin-right: 0;
}

.woocommerce-checkout #ship-to-different-address-checkbox {
  width: auto;
  float: right;
  margin-left: 15px;
  margin-top: 10px;
  opacity: 1;
  position: static;
}

.woocommerce-checkout #ship-to-different-address label {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  text-transform: uppercase;
  color: #000;
}

.woocommerce-checkout .woocommerce form .form-row.create-account label {
  padding-top: 2px;
  font-weight: bold;
}

.woocommerce-checkout .payment-fixed {
  position: fixed;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 2em;
  left: 52%;
  margin-left: 0;
  padding: 20px;
  top: 0;
  width: 45.5% !important;
  -webkit-transition: padding 0.1s ease-in;
  -moz-transition: padding 0.1s ease-in;
  -o-transition: padding 0.1s ease-in;
  -ms-transition: padding 0.1s ease-in;
  transition: padding 0.1s ease-in;
}

.product-shipping-message {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0px;
  border-top: 1px solid #139248;
  border-bottom: 1px solid #139248;
}

.woocommerce table.shop_table t th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  border-bottom: none;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  max-width: 100%;
}

.woocommerce .product-name a {
  color: #000;
  pointer-events: none;
  cursor: default;
}

@media only screen and (max-width: 1139px) {
  .woocommerce-cart .entry-content form {
    width: 64%;
  }
}

@media only screen and (max-width: 980px) {
  .woocommerce-cart .entry-content form {
    width: 80%;
    float: none;
    margin: 0 auto;
  }

  .woocommerce-cart .woocommerce .cart-collaterals {
    width: 80%;
    float: None;
    margin: auto;
  }

  .woocommerce #content table.cart td.actions .coupon,
  .woocommerce table.cart td.actions .coupon {
    width: 100%;
  }

  #add_payment_method table.cart td.actions .coupon .input-text,
  .woocommerce-cart table.cart td.actions .coupon .input-text,
  .woocommerce-checkout table.cart td.actions .coupon .input-text {
    width: 48%;
  }
}

@media only screen and (max-width: 650px) {
  .woocommerce-cart .entry-content form {
    width: 100%;
  }

  .woocommerce-cart .woocommerce .cart-collaterals {
    width: 100%;
  }

  .woocommerce-checkout .woocommerce .col2-set {
    width: 100%;
    float: none;
    margin-right: 0;
  }

  .woocommerce-checkout #order_review_heading,
  .woocommerce-checkout #order_review {
    width: 100%;
    float: none;
  }
}







/*
	Woocommerce Address Styles
*/

fieldset {
  border: 0;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
  display: block;
  margin-top: 1rem;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  font-weight: 400;
  border-radius: 3px;
  color: #fff;
  background-color: #00d1b2;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background-image: none;
  color: white;
  background-color: #00d1b2;
}

.woocommerce-Address h3 {
  border-bottom: 1px solid #ccc;
  line-height: 150%;
}



.woocommerce-info::before {
  color: #00d1b2;
}



.woocommerce-info {
  border-top-color: #00d1b2;
}

.clear {
  clear: both;
  margin-top: 0.5rem;
}

.edit {
  font-size: 50%;
}

address {
  font-style: normal;
}

.woocommerce-Address {
  background-color: #fafafa;
  padding: 1rem;
}

/*
	Woocommerce General Styles
*/

.woocommerce-Button {
  background-color: black;
}

/*
	Woocommerce My Account Dashboard
*/

.small-txt {
  font-size: 40%;
}

/*
	Woocommerce My Account Icons
*/



.woocommerce-MyAccount-navigation ul li {
  color: rgba(255, 255, 255, .5);
  /* cursor: pointer; */
  /* padding: 30px 0px 30px 15px; */
  /* position: relative; */
  /* overflow: hidden; */
  /* width: 100%; */
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .2) inset;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  -webkit-transition: color 50ms;
  transition: color 50ms;
}

.woocommerce-MyAccount-navigation ul li a {
  display: flex;
  padding: 30px 0px 30px 30px;
  cursor: pointer;

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}

.woocommerce-MyAccount-navigation ul li a:hover {

  color: white;
  opacity: 1;
  background-color: rgb(255, 255, 255, 0.060);


}

/* .woocommerce-MyAccount-navigation ul li:hover {
  background-color: transparent;
  -webkit-clip-path: polygon(100% 0, 86% 51%, 100% 100%);
  clip-path: polygon(100% 0, 86% 51%, 100% 100%);
  background-color: white;

} */

.woocommerce-MyAccount-navigation .is-active a {
  color: #00d1b2;
  background-color: rgb(255, 255, 255, 0.060) !important;
  background: url("/wp-content/themes/eks/img/carat-left.png") no-repeat 105% center;
}

=======
=======
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
=======
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
}

.woocommerce-MyAccount-navigation ul li a:hover {

  color: white;
  opacity: 1;
  background-color: rgb(255, 255, 255, 0.060);


}

/* .woocommerce-MyAccount-navigation ul li:hover {
  background-color: transparent;
  -webkit-clip-path: polygon(100% 0, 86% 51%, 100% 100%);
  clip-path: polygon(100% 0, 86% 51%, 100% 100%);
  background-color: white;

} */

.woocommerce-MyAccount-navigation .is-active a {
  color: #00d1b2;
  background-color: rgb(255, 255, 255, 0.060) !important;
  background: url("/wp-content/themes/eks/img/carat-left.png") no-repeat 105% center;
}

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
=======
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
=======
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850



/*  .woocommerce-MyAccount-navigation ul li:hover::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d9";
    color: white;
    float: right;
    font-size: 300%;
  } */

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3fd";
  padding-right: 0.4rem;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f09d";
  padding-right: 0.4rem;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f290";
  padding-right: 0.4rem;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f56d";
  padding-right: 0.4rem;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  padding-right: 0.4rem;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f2f5";
  padding-right: 0.4rem;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f007";
  padding-right: 0.4rem;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.09);
  box-shadow: none;
  border: 1px solid #e6e6e6;
}

.eks-pwr-form {
  border-top: 1px solid #f2f2f2;
  /*background-color: #fafafa;*/
  padding-top: 1.5rem;
  margin-top: 2rem;
}

.eks-label-message {
  margin-top: 1rem;
  display: block;
  font-size: 80%;
}

.eks-pwr-form legend {
  font-size: 100%;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

/*FA Icons*/

.eks-pwr-form legend .fas {
  color: #0555bd;
}



/*Content Single Product Styles*/

.eks-prod-meta-box {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  width: auto;
  min-height: 400px;
}

.eks-prod-meta-box p {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

h1.product_title.entry-title {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 1rem;
}

/*Content Single Product Tab Styles*/

h2.woocommerce-loop-product__title {
  font-size: 140%;
  font-weight: bold;
  /*   border-bottom: 1px solid #ccc;
 */
  margin-bottom: 15px;
}



/*Product Meta*/

.product_meta {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-size: 0.75rem;
  line-height: 2;
}

.woocommerce-product-details__short-description p {
  margin-top: 1rem;
}

form.variations_form.cart {
  margin-top: 1rem;
}

/* My Account Functions  */

.woocommerce-account .woocommerce-MyAccount-navigation {
  float: left;
  width: 100%;
}

/* .woocommerce-message {
  background-color: #f3f3f3;
  display: flex;
  /* height: 40px; */
/* margin-bottom: 2rem;
justify-content: space-between;
/* align-content: center; */
/* align-items: center;
padding: 1rem;
flex-direction: row-reverse;
} */

/* Pop Up Messages - Actions Strip  */

.woocommerce-message {
  background-color: #00A78F;
  display: flex;
  /* height: 40px; */
  margin-bottom: 2rem;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
  padding: 1rem;
  color: white;
  border-radius: 3px;
  position: absolute;
  width: 500px;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.woocommerce-message a {

  color: white;

}





/* Coupon & Update Buttons Cart Page */

.woocommerce-cart-form__contents .coupon button {
  background-color: red
}


/* Woocommerce Styles */

/* SelectStyles Maybe Move this*/

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
}

p#billing_address_2_field {
  margin-top: 1rem;
}

.order-total span.woocommerce-Price-amount.amount {
  color: white;
}

.woocommerce-checkout-review-order-table .order-total th {
  color: white;
}

.wc-proceed-to-checkout div#wc-stripe-payment-request-wrapper {
  display: none;
}

/* Cart Page Styles*/

table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents thead tr {
  background-color: #fafafa;
}

tr.order-total th {
  color: white !important;
  /* Forced to Use !important*/
}

a.restore-item {
  color: white
}

td.actions button.button {
  background: #DD3E52 !important;
  color: #fff;
  font-weight: 500;
  border-radius: 40px;
  font-size: 0.75rem;
  padding: 1rem;
}

/* Checkout Page Styles*/

th.product-name {
  color: black;
}

#order_review.woocommerce-checkout-review-order table.shop_table.woocommerce-checkout-review-order-table thead {
  background-color: #fafafa;
}

.woocommerce-billing-fields h3 {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.woocommerce-billing-fields h3::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  padding-right: 0.4rem;
  color: #00d1b2;
}

h3#order_review_heading {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 3.35rem;
  /* margin-top: 2rem; */
  padding: 1rem 0;
}

h3#order_review_heading::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f09d";
  padding-right: 0.4rem;
  color: #00d1b2;
}

.woocommerce-privacy-policy-text p {
  font-size: 0.75rem;
  margin-top: 1rem;
}

.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
  height: auto;
  max-width: 20%;
}

.woocommerce-cart .quantity {
  margin: 0;
}

.order-total {
  background-color: #00917c;
  vertical-align: middle;
}

tr.order-total th {
  vertical-align: middle;
}

span.woocommerce-Price-amount.amount {
  color: black;
}

form.checkout_coupon.woocommerce-form-coupon {
  margin-top: 1rem;
  font-size: 0.75rem;
}

form.checkout_coupon.woocommerce-form-coupon p {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.woocommerce-form-coupon-toggle div.woocommerce-info {
  font-size: 0.75rem;
}


/* Saved Payment Methods */

.wc-saved-payment-methods {
  margin-top: 1rem
}

.wc-saved-payment-methods li {
  margin-top: .5rem
}















<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/*
	Woocommerce Account Orders Page
*/

legend {
  border-bottom: 2px solid #fff;
  width: 100%;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, .2) inset;
}

.col-bg {
  background-color: #fafafa;
  padding: 2rem;
  margin-right: 1rem;
}

.woocommerce table.shop_table th {
  border-top: none;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  text-align: left;
  padding: 10px 20px;
  margin: 1rem;
}

.woocommerce table.shop_table th:last-child {
  text-align: center;
}

th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-number::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f290";
  padding-right: 0.4rem;
  color: #00917c;
}

th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-date::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f073";
  padding-right: 0.4rem;
  color: #00917c;
}

th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-status::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f017";
  padding-right: 0.4rem;
  color: #00917c;
}

th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-total::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d6";
  padding-right: 0.4rem;
  color: #00917c;
}

th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-actions::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0f3";
  padding-right: 0.4rem;
  color: #00917c;
}
=======
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850




<<<<<<< HEAD

.woocommerce-orders-table {
  width: 90%;
}




/* Woocommerce Single Product Page */

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	clear: none;
	padding: 5rem;
	background-color: #fafafa;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	float: none;
	width: auto;
}

.tabs {clear:both}

.single-product .tabs {
	font-size: 0.9rem;
	white-space: nowrap;
}

form.variations_form td.label {
	color: black;
	font-size: .91rem;
	font-weight: bold;
	/* text-transform: uppercase; */
}

table.variations tbody tr.attribute-pa_package td.value {
	display: flex;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.card {
	background-color: #fafafa;
	box-shadow: 0 2px 3px rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.1);
	color: #4a4a4a;
	max-width: 100%;
	position: relative;
	padding: 2rem;
}

=======
=======




>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
=======




>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
/* My Orders Styles */

.woocommerce-orders-table {
  width: 90%;
<<<<<<< HEAD
<<<<<<< HEAD
}
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
=======
}
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
=======
}
>>>>>>> bfd26de1e8cf8646d21700deb3b9f651578fc850
