body {

  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}

.home {
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(246, 246, 246, 1) 47%,
    rgba(237, 237, 237, 1) 100%);
}

.footer {
  background-color: #fafafa;
  padding: 1rem 1.5rem 1rem;
}

.footer p {
  font-size: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  font-family: "brandon-grotesque", sans-serif;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

/* Custom Buttons */

.btn {
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
}

.lg-trans {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  transition: .2s;
  padding-bottom: calc(1.2em - 1px);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: calc(1.2em - 1px);
  font-size: 1rem;
}

.md-trans {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  transition: .2s;
  padding-bottom: calc(1em - 1px);
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: calc(1em - 1px);
  font-size: 1rem;
}

.sm-trans {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bolder;
  transition: .2s;
  padding-bottom: calc(0.3em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.3em - 1px);
  font-size: 1rem;
}

.lg-trans:hover,
.md-trans:hover,
.sm-trans:hover {

  background-color: #00d1b2;
  border-color: transparent;
  transition: .4s;

}

.lg-opaque:hover,
.md-opaque:hover,
.sm-opaque:hover {

  box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.1);
  transition: .4s;
}


.lg-opaque {
  background-color: #00d1b2;
  color: white;
  font-weight: bolder;
  transition: .2s;
  padding-bottom: calc(1.2em - 1px);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: calc(1.2em - 1px);
  font-size: 1rem;
}

.md-opaque {
  background-color: #00d1b2;
  color: white;
  font-weight: bold;
  transition: .2s;
  padding-bottom: calc(1em - 1px);
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: calc(1em - 1px);
  font-size: 1rem;
  border: none;
}


.sm-opaque {
  background-color: #00d1b2;
  color: white;
  font-weight: bolder;
  transition: .2s;
  padding-bottom: calc(.6em - 1px);
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: calc(.6em - 1px);
  font-size: 1rem;
}


.rnd {
  border-radius: 99px;
}

.fw {
  width: 100%;
}







.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: center;
  display: flex;
}




.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
}


img.custom-logo {
  max-width: 20%
}



.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1.75rem 2rem;
}

.benefits .icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 3rem;
  width: 4rem;
}

.pricing .button {
  font-size: 1.2rem;
  /* font-weight: bold; */
}

.pricing-table .pricing-plan .plan-item {
  background: transparent;
  border-bottom: .1rem solid #f2f2f2;
  padding: .75em;
  align-content: center;
  text-align: center;
  font-size: 0.9em;
  color: #7a7a7a;
}

.plan-price {
  background-color: #fafafa;
  /* color: white; */
  font-size: .75rem;
  font-weight: 400;
  padding: .75em;
  align-content: center;
  text-align: center;
}

.plan-price {
  background-color: #fafafa
}

/*.pricing-table .pricing-plan .plan-header {
  background-color: #0CCCE8;
  color: white;
  padding: 1rem;
}*/

.ph-1 {
  background-color: #0CCCE8;
}

.ph-2 {
  background-color: #0CCCE8;
}

.ph-3 {
  background-color: #D74D36;
}


.pt-1 {
  border-bottom: 3px solid #cd7f32;
}

.pt-2 {
  border-bottom: 3px solid silver;
}

.pt-3 {
  border-bottom: 3px solid #ffd700;
}

.plan-header h4 {
  padding-bottom: 10px;
  display: inline-block;
  font-size: 120%;
  font-weight: bold;
}

.price-shadow {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.pricing-table .pricing-plan {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  list-style-type: none;
  transition: .25s;
  margin: .5em;
}


.hero.is-info {
  background-color: #00917C;
  color: #fff;
}

.is-divider,
.is-divider-vertical {
  display: block;
  position: relative;
  border-top: .1rem solid rgba(0, 0, 0, 0.1);
  height: .1rem;
  margin: 2rem 0;
  width: 10%;
  margin: 1rem auto;
}

.button,
.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  font-size: 0.9rem;
}

.button,
.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  font-size: 0.9rem;
}

.is-info {
  background-color: #00d1b2;

}

abbr.required {
  color: #fc575e;
}

a {
  color: #00917c;
  cursor: pointer;
  text-decoration: none;
}

small {
  font-size: 0.675em;
}

.menu {
  font-size: 0.95rem;
}

.menu-main-menu-container {
  display: flex;
}



.modal-display {
  display: flex;
}

.modal-display-none {
  display: none;
}


/* Narbar Helpers */

.navbar-item {
  color: #4a4a4a;
  display: block;
  line-height: 1.5;
  padding: .5rem 1rem;
  position: relative;
}

/* Buttons Helpers */

.hero.is-info a.navbar-item:hover {
  opacity: 1;
  color: #fff;
  background-color: transparent;
  box-shadow: inset -1px -4px 0px -2px rgba(255, 255, 255, 1);
}



/* Margin Helpers */

.modal-display {
  display: flex;
}

.modal-display-none {
  display: none;
}



/*Margin Helpers*/


.mtl {
  margin-top: 4rem;
}

.mtm {
  margin-top: 2rem;
}

.mts {
  margin-top: 1rem;
}



.mtlb {
  margin-bottom: 1rem;
}

/*Padding Helpers*/

.pdl {
  padding: 3rem;
}

.npdr {
  padding: 0;
}

/* Login Forms  */

.login-badge {
  border-radius: 50%;
  background: hsl(0, 0%, 96%);
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: -75px;
}

.modal-card,
.modal-content {
  margin: 0 auto;
  max-height: calc(100vh - 40px);
  width: 480px;
}

.modal-content label.checkbox {
  margin-top: 1rem;
}

.modal-content .box {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.17);
}


.modal-content .eks-error,
.modal-content #auth-msg>.eks-success {
  background: rgb(229, 0, 0, 0.5);
  color: white;

  display: flex;

  padding: 10px;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 99px;
}




.modal-content #auth-msg>.eks-success {
  background: #00d1b2;
}

.modal-content .eks-error:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06a";
  padding-right: 0.4rem;
}



.modal-content #auth-msg>.eks-success {
  background: #00d1b2;
}

.modal-content .eks-error:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06a";
  padding-right: 0.4rem;
}


.modal-content #auth-msg>.eks-success:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  padding-right: 0.4rem;
}




.modal-content #auth-msg>.eks-success:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
  padding-right: 0.4rem;
}

.modal-content strong {
  color: white;
  font-weight: bolder;
  margin-right: 0.25rem;
}

.modal-content .title:not(.is-spaced)+.subtitle {
  margin-top: auto;
}

.modal-content #auth-msg a {
  color: beige;
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
}

/*Nav Bar*/

/* .navbar-item.is-active:after,
.navbar-item:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.navbar-item.is-active:hover:after,
.navbar-item:hover:after {
  width: 100%;
  transition: width 0.3s;
} */

/* .hero.is-info .navbar-link.is-active,
.hero.is-info .navbar-link:hover,
.hero.is-info a.navbar-item.is-active,
.hero.is-info a.navbar-item:hover {
  background-color: transparent;
  color: black;
} */

#menu-main-menu li {
  margin-right: 1rem;
}

/*.is-bg-fill {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}*/

/* .custom-logo {
  width: 6rem;
} */

/* a.custom-logo-link {
  display: flex;
} */

.is-bg-fill-header {
  background: url("../img/rocket-hero-light.svg") no-repeat 40% 50%, linear-gradient(90deg, rgb(12, 5, 120) 0%, rgb(8, 8, 148) 35%, rgb(0, 212, 255) 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 98%, 0 50%);
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 99%, 0 50%);
  background-size: 115%;
}

.is-bg-fill {
  background: linear-gradient(45deg,
    rgba(12, 5, 120, 1) 0%,
    rgba(8, 8, 148, 1) 35%,
    rgba(0, 212, 255, 1) 100%);
}



.is-sec-fill {
  background-color: #00917c;
}

.has-min-height {
  min-height: 100vh;
}

.has-vertical-offset {
  margin-top: -20rem;
}

.has-small-vertical-offset {
  margin-top: -5rem;
}

.has-x-small-vertical-offset {
  margin-top: -2rem;
}

.has-xx-large-margin-top {
  margin-top: -17rem;
}

.has-x-large-margin-top {
  margin-top: 15rem;
}

.has-large-margin-top {
  margin-top: 7rem;
}

.has-medium-margin-top {
  margin-top: 5rem;
}

.has-small-margin-top {
  margin-top: 2rem;
}

.has-x-small-margin-top {
  margin-top: 1rem;
}

li.price-header {
  font-size: 200%;
}

.has-grad {
  color: #09dbcd;
}

.has-color-blue {
  color: #026fce;
}

.has-border-right {
  border-right: 1px solid #dbdbdb;
}

.modal-background {
  color: #09dbcd;
}



.devices img {
  max-width: 60%;
  display: none;
}

.navbar-link::after {
  border-color: white;
}

/* Services Block */

.services .fa,
.services .fas {
  font-size: 150%;
}

table.variations tbody tr.attribute-pa_package td.value {
  display: flex;
}



table.variations tbody tr.attribute-pa_package td.value div {
  margin-right: 1rem;
}

/* form.variations_form {
  background-color: #fafafa;
  padding: 1.5rem;
} */

.quantity {
  margin-top: 1rem;
}

.woocommerce-variation-price {
  font-size: 150%;
  font-weight: bolder;
}

a.reset_variations i {
  color: #00d1b2;
}

button.single_add_to_cart_button.button.alt {
  width: 100%;
}



/* Login Styles */

.modal-content p.has-text-white a {
  color: white;
}

/* Create Account */


#eks-reg-modal-content .fa-pencil-alt::before {
  content: "\f303";
  font-size: 80%;
  padding-right: .2rem;
}

#eks-reg-modal-content .woocommerce-privacy-policy-text p {
  font-size: 0.65rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* Page Signup Styles*/

.signup .social-icons.follow-icons {
  color: #232323
}

.signup #email_signup {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.signup #email_signup input {
  background-color: rgba(255, 255, 255, 1);
  border: 0;
  color: gray;
  width: 80%;
  margin: 0 0 15px 0;
  box-shadow: none;
  padding: 1rem;
  border-radius: 99px;
}

.signup .klaviyo_submit_button {
  color: white;
  text-transform: capitalize;
  background-color: #232323;
}



/* Login/Register Spinner */

.spinner {
  /* Spinner size and color */
  width: 1.5rem;
  height: 1.5rem;
  border-top-color: #fff;
  border-left-color: #fff;

  /* Additional spinner styles */
  animation: spinner 400ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

/* Animation styles */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Login Styles */

.modal-content p.has-text-white a {
  color: white;
}

/* Create Account */


#eks-reg-modal-content .fa-pencil-alt::before {
  content: "\f303";
  font-size: 80%;
  padding-right: .2rem;
}

#eks-reg-modal-content .woocommerce-privacy-policy-text p {
  font-size: 0.65rem;
  margin-top: 1rem;
  margin-bottom: 1rem;


}

/* Login Styles */

.modal-content p.has-text-white a {
  color: white;
}

/* Create Account */


#eks-reg-modal-content .fa-pencil-alt::before {
  content: "\f303";
  font-size: 80%;
  padding-right: .2rem;
}

#eks-reg-modal-content .woocommerce-privacy-policy-text p {
  font-size: 0.65rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Login Styles */

.modal-content p.has-text-white a {
  color: white;
}

/* Create Account */


#eks-reg-modal-content .fa-pencil-alt::before {
  content: "\f303";
  font-size: 80%;
  padding-right: .2rem;
}

#eks-reg-modal-content .woocommerce-privacy-policy-text p {
  font-size: 0.65rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}