//General Styles

.woocommerce {
  margin: 0 auto;
  width: 1380px;
  padding-top: 7rem;
}


.woocommerce h2 {
  /* display: block; */
  font-size: 2rem;
  margin-bottom: 1em;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}



//Tables
thead {
  background-color: $w1;
}

//Buttons

.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt {
  background-color: $g;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.6rem 1.5rem;
  font-weight: 300;
  border-radius: 99px;
  left: auto;
  color: #515151;
  background-color: #ebe9eb;
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button {
  display: block;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.25em;
  padding: 1em;
  text-transform: capitalize;
}

// Icons (Using Font Awesome)

.woocommerce-message::before,
.woocommerce-error::before,
.woocommerce-info::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f058';
  display: inline-block;
  position: absolute;
  top: 1em;
  left: 1.5em;
}

// Messages

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  padding: 1em 2em 1em 3.5em;
  margin: 0 0 2em;
  position: relative;
  background-color: #f7f6f7;
  color: #515151;
  border: 0;
  list-style: none outside;
  *zoom: 1;
  width: auto;
  word-wrap: break-word;
}

//Cart Styles

.woocommerce-cart table.cart th,
.woocommerce-cart table.cart td,
.woocommerce-checkout table.cart th,
.woocommerce-checkout table.cart td,
#add_payment_method table.cart th,
#add_payment_method table.cart td {
  vertical-align: middle;
  text-align: center;
}

.woocommerce a.remove {
  display: inline-block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: black !important;
  text-decoration: none;
  font-weight: 300;
  border: 0;
}

.coupon {
  background-color: #fafafa;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.coupon label {
  display: none;
}

input#coupon_code.input-text {
  padding: 0.6rem 1.5rem;
  border: 0;
  border-radius: 99px;
  margin-right: 1rem;
}

.woocommerce-cart-form__contents tbody tr td.actions {
  padding-right: 4.5rem;
}


// Checkout Page

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: normal;
  padding: .5rem;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: auto;
  margin: 0 0 -4px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 8px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .5rem;
}



//Dashboard

.account-user .image img {
  border-radius: 99px;
}


.grid-container-dashboard {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container-dashboard>div {
  background-color: $w1;
  padding: 1em;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.account-navigation {
  display: flex;
  float: left;
}

.account-navigation ul>li+li {
  border-top: 1px solid rgba(255, 255, 255, 1);

}

.account-navigation ul {
  padding: 0;
  margin-top: 9px;
}

.account-navigation ul li a {
  width: 300px;
  display: flex;
  padding: 2rem 0;
  align-items: center;
  color: black;
  -webkit-transition: ease .6s;
  -moz-transition: ease .6s;
  -o-transition: ease .6s;
  transition: ease .6s;
  background-color: #fafafa;
  font-weight: bold;
  font-size: 0.9rem;
}

.account-navigation ul li a:hover {
  background-color: rgb(242, 242, 242);
}

.account-user {
  display: flex;
  padding: 1em;
  align-items: center;
}


.account-navigation .nav>li>a {
  padding: 1.8em 0;
  text-transform: capitalize;
}


.woocommerce-MyAccount-navigation-link--dashboard a:before {
  content: "";
  background: url("img/icons/user.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}

.woocommerce-MyAccount-navigation-link--orders a:before {
  content: "";
  background: url("img/icons/package.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}

.woocommerce-MyAccount-navigation-link--subscriptions a:before {
  content: "";
  background: url("img/icons/refresh-cw.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}

.woocommerce-MyAccount-navigation-link--support-conversations a:before {
  content: "";
  background: url("img/icons/message-square.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}

.woocommerce-MyAccount-navigation-link--downloads a:before {
  content: "";
  background: url("img/icons/download.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}

.woocommerce-MyAccount-navigation-link--edit-address a:before {
  content: "";
  background: url("img/icons//home.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}


.woocommerce-MyAccount-navigation-link--payment-methods:before {
  content: "";
  background: url("img/icons/credit-card.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}

.woocommerce-MyAccount-navigation-link--edit-account a:before {
  content: "";
  background: url("img/icons/edit.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}

.woocommerce-MyAccount-navigation-link--customer-logout a:before {
  content: "";
  background: url("img/icons/log-out.svg") no-repeat;
  color: white;
  display: block;
  background-position: center;
  width: 30px;
  height: 30px;
  background-size: 40%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 99px;
  margin-right: .5em;
  margin-left: .7em;
}

.account-user-info {
  display: flex
}

.nav-line>li>a::before {
  background-color: white
}

.account-user {
  display: flex;
  padding: 1em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.grid-container>div {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 1em;
}


.account-meta-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-meta {
  border-left: 1px solid white;
  padding-left: 1em
}

.account-meta-title h4 {
  border-bottom: 1px solid rgba(0, 0, 0, .05);

}

.account-user-orders-count {
  text-align: center;
  font-size: 300%
}

.account-account-meta ul li span {
  font-size: 80%
}

.account-count {
  font-weight: bold;
  font-size: 200%
}

.customer-number {
  font-weight: normal
}