/* ----------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
* Custom Website Fonts
* ------------------------------------------------------------------------- */


$eks_font--main: 'Roboto', sans-serif;


/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$c1 : #4829b2;
$c2 : #DA22FF;
$w : #ffffff;
$w1 : #f8f8f8;
$b : #000000;
$g : #35ad68;
$y : #FFFDD2;

// Box Shadow

$s1 : 1px 1px 5px rgba(0,0,0,0.5);


$s2 : 0 2px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.16)
