ul.products {
	display: flex;
	justify-content: space-evenly;
	margin-top: 6rem;
}

li.product {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: $w;
	
	margin-right:1rem;
	box-shadow: $s2;
}

.product-meta-box {
	/* display: flex; */
	background-color: #fafafa;
	width: 100%;
	padding: 1.5rem;
}



.meta-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	// background-color: #fff;
	color: #444;
}

.mb {
		padding: 0.5rem;
}

